:root {
--main-color: #ffffff;
--main-color-text: #2d2d2d;

--color1: #C60C30;
--color2: #f0f0f0;
--color3: #8B0000;
--color4: #C60C30;
--color5: #666666;

}

body {
    background-color: var(--main-color);
    color: var(--main-color-text);
    margin: 0;
    font-family: "Roboto", sans-serif;
}
